openapi: 3.0.3
info:
  title: ZplBox Cloud
  description: |-
    **ZplBox Cloud Service**: Cloud service to convert HTML, PDF or PNG content to native ZPL data.
  version: 1.0.0
servers:
  - url: https://zplbox2.p.rapidapi.com
tags:
  - name: Web Content
    description: Conversion of HTML based web content to ZPL.
  - name: PDF
    description: Conversion of PDF Documents to ZPL.
  - name: PNG
    description: Conversion of PNG images to ZPL.

paths:
  /v1/html2zpl:
    post:
      tags:
        - Web Content
      summary: Conversion of Web Content to ZPL.
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'openapi.yaml#/components/schemas/HtmlRenderingParams'
      responses:
        '200':
          $ref: "openapi.yaml#/components/responses/ZplLabelResponse"
        '400':
          $ref: 'openapi.yaml#/components/responses/BadRequest'

  /v1/pdf2zpl:
    post:
      tags:
        - PDF
      summary: Conversion of a PDF document to ZPL.
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'openapi.yaml#/components/schemas/PdfRenderingParams'
      responses:
        '200':
          $ref: "openapi.yaml#/components/responses/ZplLabelResponse"
        '400':
          $ref: 'openapi.yaml#/components/responses/BadRequest'

  /v1/png2zpl:
    post:
      tags:
        - PNG
      summary: Conversion of a PNG image to ZPL.
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'openapi.yaml#/components/schemas/PngRenderingParams'
      responses:
        '200':
          $ref: "openapi.yaml#/components/responses/ZplLabelResponse"
        '400':
          $ref: 'openapi.yaml#/components/responses/BadRequest'