body { 
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.6em;
  color: #267CB9;
}

h2 {
  font-size: 1.3em;
  color: #267CB9;
}

h3 {
  font-size: 1.2em;
  color: #267CB9;
}

h4 {
  font-size: 1.1em;
  color: #267CB9;
}
